[
	{
		"name": "air",
		"isSolid": false,
		"topFace": [0, 0],
		"bottomFace": [0, 0],
		"rightFace": [0, 0],
		"leftFace": [0, 0],
		"frontFace": [0, 0],
		"backFace": [0, 0]
	},
	{
		"name": "Stone",
		"isSolid": true,
		"topFace": [1, 15],
		"bottomFace": [1, 15],
		"rightFace": [1, 15],
		"leftFace": [1, 15],
		"frontFace": [1, 15],
		"backFace": [1, 15]
	},
	{
		"name": "Grass",
		"isSolid": true,
		"topFace": [0, 15],
		"bottomFace": [2, 15],
		"rightFace": [3, 15],
		"leftFace": [3, 15],
		"frontFace": [3, 15],
		"backFace": [3, 15]
	},
	{
		"name": "Dirt",
		"isSolid": true,
		"topFace": [2, 15],
		"bottomFace": [2, 15],
		"rightFace": [2, 15],
		"leftFace": [2, 15],
		"frontFace": [2, 15],
		"backFace": [2, 15]
	},
	{
		"name": "Wooden Planks",
		"isSolid": true,
		"topFace": [4, 15],
		"bottomFace": [4, 15],
		"rightFace": [4, 15],
		"leftFace": [4, 15],
		"frontFace": [4, 15],
		"backFace": [4, 15]
	},
	{
		"name": "Cobblestone",
		"isSolid": true,
		"topFace": [0, 14],
		"bottomFace": [0, 14],
		"rightFace": [0, 14],
		"leftFace": [0, 14],
		"frontFace": [0, 14],
		"backFace": [0, 14]
	},
	{
		"name": "Bricks",
		"isSolid": true,
		"topFace": [7, 15],
		"bottomFace": [7, 15],
		"rightFace": [7, 15],
		"leftFace": [7, 15],
		"frontFace": [7, 15],
		"backFace": [7, 15]
	},
	{
		"name": "Iron Ore",
		"isSolid": true,
		"topFace": [1, 13],
		"bottomFace": [1, 13],
		"rightFace": [1, 13],
		"leftFace": [1, 13],
		"frontFace": [1, 13],
		"backFace": [1, 13]
	}
]